{% extends 'base.html' %}

{% block title %}Event Haven - Event Info {% endblock %}

{% block content %}
    <div class="container text-center py-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="mb-4">{{ event.title }}</h1>
                <p class="lead">{{ event.description }}</p>
                <hr class="my-4">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p><strong>Location:</strong> {{ event.location }}</p>
                        <p><strong>Date:</strong> {{ event.date.strftime('%A, %b %d, %Y') }}</p>
                        <p><strong>Start Time:</strong> {{ event.start_time }}</p>
                        <p><strong>End Time:</strong> {{ event.end_time }}</p>
                        {% if session.user_uuid %}
                            {% if existing_registration %}
                                <a href="{{ url_for('event.event_deregister', event_id=event.id) }}"
                                   class="btn">Unregister</a>
                            {% else %}
                                <a href="{{ url_for('event.event_registration', event_id=event.id) }}"
                                   class="btn">Register</a>
                            {% endif %}
                        {% endif %}
                        {% if session.user_uuid == event.creator_id %}
                            <a href="{{ url_for('event.edit_event', event_id=event.id) }}" class="btn">Edit</a>
                            <a href="{{ url_for('event.delete_event', event_id=event.id) }}" class="btn"
                               onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}