{% extends 'base.html' %}

{% block title %}Event Haven - Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
            <h2 class="mb-3">Login</h2>
            <form method="POST" action="{{ url_for('auth.login') }}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                           value="{{ request.args.get('username', '') }}" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <small class="mt-3">Not signed up yet? Register <a
                    href="{{ url_for('auth.register') }}">here!</a></small>
        </div>
    </div>
{% endblock %}