@import url("https://fonts.googleapis.com/css2?family=Inter&family=JetBrains+Mono&display=swap");

/* --------------- General Styling --------------- */

html {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: #2E3440;
    color: #9ACBD6;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
}

.text-muted {
    color: #c7cbcf !important;
}

.btn {
    background: #4C566A;
    color: #9ACBD6;
}

.btn:hover {
    background-color: #9ACBD6;
    color: #4C566A
}

.card {
    margin: 1.2rem 0;
    background-color: #4C566A;
    border: #2E3440 solid 1px;
}

.card-text {
    font-family: 'Inter', sans-serif;
}

.card .btn {
    background-color: #9ACBD6;
    color: #4C566A;
}

.card .btn:hover {
    background-color: #4C566A;
    color: #9ACBD6;
    border: 1px solid #9ACBD6;
}

/* --------------- Base Template --------------- */
.navbar-brand,
.navbar-nav > li > a {
    margin: 0.5rem;
    color: #9ACBD6;
}

.navbar-brand {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.navbar-toggler {
    color: #9ACBD6;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.content-wrap {
    flex: 1;
}


footer {
    background-color: #4C566A;
}

footer li a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #9ACBD6;
}

/* --------------- Home Page --------------- */

#image-div {
    height: 30rem;
    overflow: hidden;
    position: relative;
    background: url("../imgs/warren-wong-star-gazing.jpg") center center / cover no-repeat fixed;
    width: 100%;
    color: white;
}

#section-content {
    max-width: 25rem;
    text-align: left;
}

#card-section {
    margin: 3rem auto;
}

#card-section h1 {
    margin: 3rem;
}

/* --------------- Events Page --------------- */

.pagination .page-link {
    color: #c7cbcf;
    background-color: #4C566A;
    border-color: #4C566A;
}

.pagination .page-link:hover {
    background-color: #4C566A;
    border-color: #4C566A;
}

.pagination .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 203, 207, 0.25);
}

.event-card {
    width: 50%;
    margin: 2rem auto;
}

/* --------------- Media Queries --------------- */

@media (max-width: 768px) {

    .event-card {
        width: 80%;
    }
}