{% extends "base.html" %}

{% block title %}Event Haven - Events{% endblock %}

{% block content %}
    <h1>Events</h1>
    {% for event in events.items %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    {% endfor %}

    <nav aria-label="Event Page navigation">
      <ul class="pagination justify-content-center mt-4">
        {% if events.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('event.events', page=events.prev_num) }}">Previous</a>
          </li>
        {% endif %}

        {% for page_num in events.iter_pages() %}
          {% if page_num %}
            {% if events.page == page_num %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url_for('event.events', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
          {% else %}
            <li class="page-item disabled"><span class="page-link">...</span></li>
          {% endif %}
        {% endfor %}

        {% if events.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('event.events', page=events.next_num) }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
{% endblock %}
