{% extends "base.html" %}

{% if 'user_uuid' in session %}
    {% set uuid = session['user_uuid'] %}
{% else %}
    {% set uuid = "not_set" %}
{% endif %}

{% block content %}
    <section>
        <div id="image-div">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center d-flex d-sm-flex d-md-flex justify-content-end align-items-center justify-content-md-end justify-content-lg-end ms-auto">
                        <div id="image-text">
                            <h1>Event Haven, <br> The Home Of Events</h1>
                            <p class="my-3">The last site you'll need to find events near you!</p>
                            <a class="btn btn-lg me-2" role="button" href="{{ url_for('event.events') }}">Events
                                <i class="fa-solid fa-calendar-days"></i></a>
                            <a class="btn btn-lg" role="button" href="{{ url_for('event.profile', uuid=uuid) }}">Profile
                                <i class="fa-solid fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if event_one and event_two %}
        <section>
            <div id="card-section" class="container">
                <h1 class="text-center">Featured Events</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">{{ event_one.title }}</h4>
                                <p class="card-text">{{ event_one.description }}</p>
                                <a href="{{ url_for('event.event_info', event_id=event_one.id) }}"
                                   class="btn">Event Information</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">{{ event_two.title }}</h4>
                                <p class="card-text">{{ event_two.description }}</p>
                                <a href="{{ url_for('event.event_info', event_id=event_two.id) }}"
                                   class="btn">Event Information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}