{% extends "base.html" %}

{% block title %}Event Haven - Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-user-circle fa-6x mb-3"></i>
                    <p class="card-title h5">Username: {{ user.username }}</p>
                    <p class="card-text">Name: {{ profile.first_name }} {{ profile.last_name }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2 class="text-center">Events Attending</h2>
            {% for event in attending_events %}
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-title h5">{{ event.title }}</p>
                        <div class="card-text">
                            <small>{{ event.date.strftime('%A, %b %d, %Y') }} - {{ event.start_time }}</small>
                            <br>
                            <small>{{ event.location }}</small>
                            <br>
                            <a href="{{ url_for('event.event_info', event_id=event.id) }}" class="btn">View Event</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-md-4">
            <h2 class="text-center">Events Created</h2>
            {% for event in created_events %}
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-title h5">{{ event.title }}</p>
                        <div class="card-text">
                            <small>{{ event.date.strftime('%A, %b %d, %Y') }} - {{ event.start_time }}</small>
                            <br>
                            <small>{{ event.location }}</small>
                            <br>
                            <a href="{{ url_for('event.event_info', event_id=event.id) }}" class="btn">View Event</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}