{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class=" col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                <h2 class="mb-3">Register</h2>
                <form method="POST" action="{{ url_for('auth.register') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" minlength="5"
                               maxlength="50" required>
                    </div>
                    <div class="mb-3">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname" minlength="5" maxlength="50"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lname" minlength="5" maxlength="50"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="8"
                               maxlength="32" pattern="[a-zA-Z0-9!@#$%^&*()_+{}|:'<>?-=[]\\;,./`~]*" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                               minlength="8" maxlength="32" pattern="[a-zA-Z0-9!@#$%^&*()_+{}|:'<>?-=[]\\;,./`~]*"
                               required>
                    </div>
                    <button type="submit" class="btn">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}